.venv/
.virtual_documents/
.ipynb_checkpoints/
machine-learning/entrega 4/content/
*.npy
__pycache__/
additional_backgrounds/
backgrounds/
big_backgrounds/
big_body_backgrounds/
body_backgrounds/
more_backgrounds/
more_big_backgrounds/
datos-obligatorio/
faces/
images-backgrounds/
image-backgrounds/
*.pkl
backgrounds2/
backgrounds3/
backgrounds-gen/
data
mnist
wandb
mitbih_test.csv
mitbih_train.csv
.env
.venv*